body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(222, 209, 209);
  padding: 40px;
}

.search-box {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 200px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#pokemonInfo {
  margin-top: 30px;
}

#pokemonInfo {
  background: white;
  border: 2px solid #dfe6e9;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

